@mixin m-featured() {
  @media (min-width: $screen-sm-min) {
    .m-featured__excerpt {
      font-size: .9rem
    }
  }

  .m-featured__header {
    margin-bottom: .625rem;
  }


    .m-featured__title {
      margin-top: 0;

      a:hover,
      a:focus {
        text-decoration: none
      }

      em {
        font-style: normal
      }
    }

    .m-featured__metadata {
      font-size: .9rem;
      text-transform: uppercase;

      > .fa {
        @include themify() {
          color: $bg2-color
        }
        margin-right: .25rem;
        // opacity: .75
      }
    }
      // .m-featured__time {
      //   font-family: $headings-font-family-bold
      // }
  .m-featured__footer {
    font-size: .9rem;
    text-transform: uppercase
  }

    .m-featured__read-more {
      // font-family: $headings-font-family-bold;

      > .fa {
        @include themify() {
          color: $bg2-color
        }
        margin-left: .25rem
      }
    }

    // .m-featured__taxonomy {
    //   float: right;
    // }
}