@mixin m-info() {
  .m-info {


// .list-group-item-heading {
//   margin-bottom: .25rem;
// }
    .list-group-item {
      @include themify {
        @media (max-width: $screen-sm-max) {
          background-color: $bg-color;
        }

        @media (min-width: $screen-md-min) {
          background-color: transparent;
        }

        border-color: $bg1-color;
      }

      padding: .75rem 1rem;

      &:first-child {
        border-top-left-radius:     $border-radius-base;
        border-top-right-radius:    $border-radius-base;
      }

      &:last-child {
        border-bottom-right-radius: $border-radius-base;
        border-bottom-left-radius:  $border-radius-base;
      }

      > .btn-xlink,
      > .btn-xunlink {
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        // @extend %ellipsis;

        > div {
          display: flex;
          align-items: center;
          display: -webkit-flex;
          -webkit-align-items: center;

          > .fa {
            &:first-child {
              margin-right: .25rem;
              min-width: 1rem;
              text-align: center;
            }
            &:last-child {
              // min-width: 1rem;
              // text-align: center;
              // margin-left: .25rem
              padding-left: .25rem;
              margin-left: auto;
            }
          }

          > span {
            @extend %ellipsis;
          }
        }
      }
    }

      .list-group-item-heading {
        // margin-bottom: 0;
        display: block;
        font-size: .75rem;
        // font-weight: normal
      }

      .list-group-item-text {
        @extend %ellipsis;
        font-size: .75rem;
      }
  }

  .m-info--2 {
    > .media {
        @include themify {
          // @media (max-width: $screen-sm-max) {
          //   background-color: $bg-color;
          // }

          // @media (min-width: $screen-md-min) {
          //   background-color: transparent;
          // }

          border-color: $bg1-color;
          // &:hover,
          // &:focus {
          //   > a > .media-body {
          //     text-shadow: 1px 1px 0 $fg1-color;
          //   }
          // }
          > a {
            > .media-body {
              // color: $bg-color;
              // text-shadow: 1px 1px 0 transparent;
              // text-shadow: 1px 1px 0 $fg1-color;
            }

            // .media-left > img {
            //   background-color: rgba($n-bg1-color, .05);
            // }
          }
        }

        position : relative;
        border-style: solid;
        border-width: 1px;
        border-top-left-radius:     2rem;
        border-top-right-radius:    2rem;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius:  2rem;

        // &:hover,
        // &:focus {
        //   .m-info--2__bg {
        //      opacity: .75;
        //   }
        // }


        > a {
          position : relative;
          display: block;

          > .media-body,
          > .media-left {
            display: inline-block
          }

          > .media-body {
            @include transition(color $default-transition-duration1 $default-transition-function1);

            width: auto;
            @extend %ellipsis;
            font-size: .75rem;
          }

          .media-left > img {
            border-radius: 50%;
          }
        }
    }
  }
    // .m-info--2__bg {
    //   @include transition(opacity $default-transition-duration1 $default-transition-function1);

    //   border-top-left-radius:     2rem;
    //   border-top-right-radius:    2rem;
    //   border-bottom-right-radius: 2rem;
    //   border-bottom-left-radius:  2rem;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-size: cover;
    //   background-position: center;
    //   opacity: .5;
    // }
}