@mixin m-list() {
  .m-list {
    @extend %cf;
    @extend %ul-reset;
  }

  .m-list--connect {
    > li {
      padding-right: 5px;
      padding-left: 5px;

      &:first-child {
        padding-left: 0;
        padding-right: 10px;
      }

      &:last-child:not(:first-child) {
        padding-right: 0;
        padding-left: 10px;
      }

      > .btn {
        @extend %ellipsis;

        @media (max-width: $screen-xs-max) {
          > span {
            display: none;
          }
        }

        padding-left: .75rem;
        padding-right: .75rem;

        > .fa {
          margin-right: .25rem;
        }
      }
    }
  }

  .m-list--2 {
    padding-left: 0;

    li {
      list-style: none;

      > ul {
        padding-left: 1rem;

        > li > a::before {
          display: none
        }
      }
    }

    a {
      border: none !important;

      &::before {
        @extend %fa;
        @include themify() {
          color: $bg2-color;
        }
        margin-right: .5rem;
        content: '\f105';
      }
    }
  }
}

