@mixin m-nav() {
  .m-nav--2 {
    @extend %ul-reset;
    text-transform: uppercase;

    > li {
      margin-bottom: .5rem;
      padding: 0 1rem;

      a {
        color: $n-fg-color;

        &:hover,
        &:focus {
          color: $bg1-color;
          text-decoration: none;
        }
      }
    }
  }
}