.ctest {
  margin-bottom: .5rem;


  font-size: .75rem;

  color: rgb(89, 89, 245);

  > span {
    @include themify() {
      border-color: $bg-color;
    }

    display : inline-block;
    width: 3rem;
    padding: .25rem 0;
    margin-right: 1rem;

    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
  }

}
.bg {
  @include themify() {
    background-color: $bg-color;
  }
}
.bg1 {
  @include themify() {
    background-color: $bg1-color;
  }
}
.bg2 {
  @include themify() {
    background-color: $bg2-color;
  }
}
.fg {
  @include themify() {
    background-color: $fg-color;
  }
}
.fg1 {
  @include themify() {
    background-color: $fg1-color;
  }
}
.fg2 {
  @include themify() {
    background-color: $fg2-color;
  }
}





.n-bg {
  background-color: $n-bg-color;
}
.n-bg1 {
  background-color: $n-bg1-color;
}
.n-fg {
  background-color: $n-fg-color;
}
