@mixin m-topic {

  @media (min-width: $screen-lg-min) {
    .m-topic:not(:first-of-type) {
      .m-topic__c1__inner,
      .m-topic__c2__inner {
        @include themify() {
          border-top-color: $bg1-color;
        }

        padding-top: 1.25rem;

        border-top-width: 1px;
        border-top-style: solid;
      }
    }

    .m-topic__c1__inner {
      padding-left: 2rem;
    }

    .m-topic__c2__inner {
      padding-right: 10rem;
    }
  }


  .m-topic__c1 {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media (min-width: $screen-lg-min) {
      padding-left: 0;
      padding-right: 2rem;
      text-align: right;
    }

    h4 {
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  .m-topic__c2 {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media (min-width: $screen-lg-min) {
      padding-right: 0;
      padding-left: 2rem;
    }
    p {
      // @media (min-width: $screen-sm-min) {
        font-size: .9rem;
      // }
      // margin-bottom: 0;
      // font-size: 1.125rem;
      // line-height: 1.25;
    }
  }
}