// bootstrap
.btn {
  // @include safari() {
  //   letter-spacing: -.04rem
  // }

  // padding: .3rem 2rem;
   padding: .3rem 1rem;

  font-size: 1rem;
  // font-family: $headings-font-family;
  // font-weight: bold;
  font-weight: 600;
  // letter-spacing: $btn-letter-spacing;
  text-transform: uppercase;

  &:focus,
  &:active:focus,
  &.active:focus {
    outline: none;
  }

  &:active,
  &.active {
    box-shadow: none
  }

  &.disabled,
  &[disabled] {
    opacity: .5
  }
}

.btn-group-lg > .btn,
.btn-lg {
  padding: .5rem 2rem;

  font-size: 1.225rem;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: .8rem
}

//

.btn-default {
  @include themify() {
    background-color: $bg1-color;
    border-color: $bg1-color;
    color: $fg2-color;

    &:hover {
      border-color: $bg1-color;
    }

    &:focus,
    &:active,
    &.active {
      background-color: $fg1-color;
      border-color: $fg1-color;
      color: $bg-color;
    }
  }
}

.btn-default--progress {
  @extend .btn-default;

  @include themify() {
    .content {
      &:after,
      &:before {
        color: $fg2-color
      }
    }

    .progress-inner {
      background-color: lighten($fg-color, 40);
    }
  }

  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  // letter-spacing: $btn-letter-spacing;
  letter-spacing: inherit;
  line-height: 1.42857143; // normal

  border-width: 1px;
  border-style: solid;

  &.state-success .content:after,
  &.state-success .content:before,
  &.state-error .content:after,
  &.state-error .content:before {
    @include transition(opacity $default-transition-duration1 $default-transition-function1 $default-transition-duration1);
  }

  .progress-inner {
    height: 2px;
    top: -1px;
  }

  .content {
    &:after,
    &:before {
      @include transition(opacity $default-transition-duration1 $default-transition-function1 $default-transition-duration0);
      margin-left: 0;
      left: inherit;
      right: -1.5rem;
      bottom: 0.1rem;
      font-size: .85rem;
    }
  }
}

.btn-default--progress-2 {
  @extend .btn-default;

  @include themify() {
    .content {
      &:after,
      &:before {
        color: $fg2-color
      }
    }

    .progress-inner {
      background-color: darken($bg-color, 15);
    }
  }

  position: relative;

  line-height: 1.42857143; // normal

  border-width: 1px;
  border-style: solid;

  // letter-spacing: $btn-letter-spacing;
  letter-spacing: inherit;

  .progress-inner {
    height: 100%;
  }

  // &.progress-button-style-fill.state-success .content,
  // &.progress-button-style-fill.state-error .content {
  //   @include transform(translateY(-105%));

  //   &::before,
  //   &::after {
  //     top: 110%;
  //   }
  // }
}

//

.btn-1 {
  background-color: transparent;
  color: $n-fg-color;

  &:hover,
  &:focus,
  &:active {
    color: $n-fg-color;
  }

  &.active {
    background-color: $n-bg1-color;
    border-color: $n-bg1-color;
    color: $n-fg-color;
  }
}

.btn-2 {
  border-color: $n-bg1-color;
  background-color: transparent;
  color: $n-fg-color;

  &:hover,
  &:focus,
  &:active {
    border-color: $n-bg1-color;
    color: $n-fg-color;
  }

  &.active {
    background-color: $n-bg1-color;
    border-color: $n-bg1-color;
    color: $n-fg-color
  }
}


.btn-5 {
  @include themify() {
    background-color: $bg-color;
    border-color: $bg1-color;
    color: $fg2-color;

    &:hover {
      @if is-brightest($fg-color, $bg-color) {
        background-color: lighten($theme-dark-bg, 5);
      } @else {
        background-color: darken($theme-light-bg, 5);
      }

      color: $fg2-color;
    }
    &:focus,
    &:active {
      color: $fg2-color;
    }

    &.active {
      // background-color: $bg1-color;


      @if is-brightest($fg-color, $bg-color) {
        background-color: lighten($theme-dark-bg, 5);
      } @else {
        background-color: darken($theme-light-bg, 5);
      }
      color: $fg2-color;
    }
  }
}

.btn-5--progress {
  @extend .btn-5;

  @include themify() {
    .content:after,
    .content:before {
      color: $fg2-color;
    }

    .progress-inner {
      background-color: $bg-color;
    }
  }

  position: relative;

  border-width: 1px;
  border-style: solid;

  // letter-spacing: $btn-letter-spacing;
  letter-spacing: inherit;
}



//

.btn-xunlink {
  @include themify() {
    background-color: transparent;
    color: $fg2-color;

    &:focus,
    &:active,
    &.active {
      background-color: transparent;
      color: $bg2-color;
    }
  }

  border: none;
  font-size: .9rem;
  // font-weight: normal;
}

.btn-xlink {
  @include themify() {
    background-color: transparent;
    color: $bg2-color;

    &:focus,
    &:active,
    &.active {
      background-color: transparent;
      border-color: transparent;
      color: $fg-color;
    }
  }

  border: none;
  font-size: .9rem;
  // font-weight: normal;
}

.btn-xupdate {
  @include themify() {
    background-color: transparent;
    color: $bg2-color;

    &:focus,
    &:active,
    &.active {
      background-color: transparent;
      border-color: transparent;
      color: $fg-color;
    }

    &[disabled],
    &[disabled]:hover {
      color: $bg2-color;
    }
  }

  border: none;
}

//

.btn-nav {
  @include themify() {
    color: $fg2-color;

    &:hover {
      color: $fg2-color;
    }

    &:focus,
    &:active,
    &.active {
      color: $fg2-color;
    }
  }

  background-color: transparent;
  border: none;
  font-size: 2rem; padding: 0; line-height: 1;
}