// bootstrap

.input-group-addon {
  @include themify {
    border-color: $bg1-color;
  }

  padding: .35rem .75rem;

  background-color: transparent;

  .has-error & {
    background-color: transparent;
  }

  .switch {
    @media (max-width: $screen-xs-max) {
      vertical-align: -.75rem;
    }

    @media (min-width: $screen-sm-min) {
      vertical-align: -.5rem;
    }
  }
}

//

.input-lg {
  height: auto;
  padding: .5rem 1rem;
  font-size: 1.125rem;
}


// extend

.input-1 {


}