<div class="zzz">
<div class="zzz__inner">
  <aside class="theme-main__aside">
    <div class="visible-xs visible-sm">
      <h4 class="theme-main__aside__title">
        Most visited
      </h4>

      <ul class="m-list--2">
        <li ng-repeat="contact in contacts | limitTo:2" ui-sref-active="active">
          <a ui-sref="contacts.detail({contactId:contact.id})" ng-click="pleaseLogin()">{{contact.name}}</a>
        </li>
      </ul>
    </div>
    
    <div class="visible-md visible-lg">
      <h4 class="theme-main__aside__title">
        Most visited
      </h4>

      <ul class="m-list--2">
        <li ng-repeat="contact in contacts | limitTo:2" ui-sref-active="active">
          <a ui-sref="contacts.detail({contactId:contact.id})" ng-click="pleaseLogin()">{{contact.name}}</a>
        </li>
      </ul>

      <h4 class="theme-main__aside__title">
        Settings
      </h4>

      <ul class="m-list--2" style="margin-bottom: 0">
        <li ng-class="{ active: $state.includes('contacts.list') }">
          <a ui-sref="contacts.list" ng-click="pleaseLogin()">All Contacts</a>
        </li>
        <li>
          <a href="#" ng-click="goToRandom()">Show random</a>
        </li>
      </ul>
    </div>
  </aside>

  <section class="theme-main__section">
    <header class="theme-main__section__header">
      <h2 ng-bind-html="headerTitle" class="theme-main__section__header__title"></h2>

      <p ng-if="headerSubtitle" class="theme-main__section__header__subtitle">
        <em ng-bind-html="headerSubtitle"></em>
      </p>
    </header>

    <div class="fadeY" ui-view></div>
  </section>
</div>
</div>