<div class="www clearfix">
  <aside class="theme-main__aside col-md-3">
    <div class="panel panel-default hidden-xs hidden-sm">
      <div class="panel-heading">
        <h3 class="panel-title">
          Most visited
        </h3>
      </div>

      <div class="panel-body">
        <ul class="m-list--2">
          <li ng-repeat="contact in contacts | limitTo:2" ui-sref-active="active">
            <a ui-sref="contacts.detail({contactId:contact.id})" ng-click="pleaseLogin()">{{contact.name}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Settings
        </h3>
      </div>

      <div class="panel-body">
        <ul class="m-list--2" style="margin-bottom: 0">
          <li ng-class="{ active: $state.includes('contacts.list') }">
            <a ui-sref="contacts.list" ng-click="pleaseLogin()">All Contacts</a>
          </li>
          <li>
            <a href="#" ng-click="goToRandom()">Show random</a>
          </li>
        </ul>
      </div>
    </div>
  </aside>

<!--   <section class="theme-main__section col-md-9">
    <header class="theme-main__section__header">
      <h1 ng-bind-html="headerTitle" class="theme-main__section__header__title"></h1>

      <p ng-if="headerSubtitle" class="theme-main__section__header__subtitle">
        <em ng-bind-html="headerSubtitle"></em>
      </p>
    </header>

    <div class="fadeY" ui-view></div>
  </section> -->
  <section class="theme-main__section col-md-9">
    <div class="fadeY" ui-view></div>
  </section>
</div>