@each $theme, $map in $themes {
  $bg-color: map-fetch($themes, $theme "bg") !global;
  $bg1-color: map-fetch($themes, $theme "bg1") !global;
  $bg2-color: map-fetch($themes, $theme "bg2") !global;

  $fg-color: map-fetch($themes, $theme "fg") !global;
  $fg1-color: map-fetch($themes, $theme "fg1") !global;
  $fg2-color: map-fetch($themes, $theme "fg2") !global;

  // $primary-color: map-fetch($themes, $theme "primary") !global;

  .#{$theme}  {
    &::-webkit-scrollbar {
      width:  .5rem;
      height: .5rem;
    }

    &::-webkit-scrollbar-track {
      background: $fg-color;
    }

    &::-webkit-scrollbar-thumb {
      // @if is-brightest($fg-color, $bg-color) {
      //   background: desaturate(lighten($bg-color, 20), 50);
      // } @else {
      //   background: desaturate(darken($bg-color, 20), 50);
      // }
      background: desaturate(darken($bg-color, 20), 50);
    }

    background-color: $bg-color;
    // a { color: $fg-color }
  }
}

.loading {
  overflow: hidden;
}

a:focus {
  outline: none;
}


.www {
  @media (max-width: $screen-sm-max) {
    @include themify() {
      background-color: $bg-color;
    }
  }

  @media (min-width: $screen-md-min) {
    @include themify() {
      @include background-image(
        linear-gradient(
          to right,
          $bg1-color,
          $bg1-color 25%,
          $bg-color 25%,
          $bg-color 100%
        )
      );
    }

    width: 100%;
    min-height: 100%;
    position: absolute;
  }
}

.zzz {
  @media (max-width: $screen-sm-max) {
    @include themify() {
      background-color: $bg-color;
    }
  }
  @media (min-width: $screen-md-min) {
    @include themify() {
      @include safari() {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba($bg2-color, .25), rgba(0, 0, 0, 0));
      }

      background-color: $bg-color;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), $bg1-color, rgba(0, 0, 0, 0));

      background-position: 25%;
      background-repeat: repeat-y;
      background-size: 1px 1px;
    }

    width: 100%;
    min-height: 100%;
    position: absolute;
  }
}

// _::-webkit-:not(:root:root), .zzz {
//   @media (min-width: $screen-md-min) {
//     @include themify() {
//       background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(216, 216, 216, .25), rgba(0, 0, 0, 0));
//     }
//   }
// }




// .theme-dark,
// .theme-light {
//   @include transition-duration(1s);
//   @include transition-property(background-color, color, border-color);
//   @include transition-timing-function($default-transition-duration1);
// }




.theme-main__aside {
  @include themify() {
    @media (max-width: $screen-sm-max) {
      background-color: $bg1-color;
    }

    color: $fg2-color;

    a {
      color: $fg2-color;
    //   border-bottom-color: $bg2-color;
    }

    hr { border-color: $bg2-color }
  }

  // a {
  //   border-bottom-width: 1px;
  //   border-bottom-style: dotted
  // }
}



.theme-main__section {
  @include themify() {
    color: $fg2-color;
  }

  a {
    color: inherit;
    // @include themify() {
    //   border-bottom-color: $bg2-color;
    // }
    // border-bottom-width: 1px;
    // border-bottom-style: solid
  }
}


.theme-footer {
  @media (min-width: $screen-sm-min) {
    background-color: $n-bg0-color;
  }
}