html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
  min-width: 300px;

}

.theme-main__aside {
  @media (max-width: $screen-sm-max) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (min-width: $screen-md-min) {
    // @media (min-height: 500px) {
    //   position: fixed;
    // }
    padding: .75rem 2rem;
  }
}
  .theme-main__aside__title {
    @media (min-width: $screen-md-min) {
      &:first-child {
        // line-height: .875;
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }

//

.theme-main__section {
  @media (max-width: $screen-xs-max) {
    padding-top: 1rem;
    padding-bottom: 1.5rem
  }

  @media (min-width: $screen-sm-min) {
    height: 100%;
    padding-top: .75rem;
    padding-bottom: 5rem;
  }

  @media (min-width: $screen-md-min) {
    float: right;
    padding-left: 2rem;
    padding-right: $theme-main-sidebar-width;
  }
}

  .theme-main__section__header {
    @media (max-width: $screen-sm-max) {
      margin-bottom: 1.5rem;
    }

    @media (min-width: $screen-md-min) {
    margin-bottom: 2rem;
    }
  }
    .theme-main__section__header__title {
      &:first-child {
        // line-height: .875;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .theme-main__section__header__subtitle {
      margin-top: .5rem;
      margin-bottom: 0;
      // line-height: 1.25;
    }


  .theme-main__section__c1 {
    @media (max-width: $screen-sm-max) {
      margin-bottom: 1.25rem;
    }

    @media (min-width: $screen-md-min) {
      float: left;
      padding-left: 0;
    }

    > h2,
    > h3,
    > h4 {
      margin-top: 0;
    }

    .fa {
      @extend %fa;
    }
  }
  .theme-main__section__c2 {
    @media (min-width: $screen-md-min) {
      float: right;
      padding-right: 0;
      padding-left: 0;
    }
  }


  .theme-main__section__title {
    margin-top: 0;
  }

//

.theme-footer {
  @media (max-width: $screen-xs-max) {
    display: none;
  }

  position: fixed;
  bottom: 0;
  z-index: 1029;
  width: 100%;
  height: 2rem;
}