// @mixin html-font-size($size){
  @if $app2-base-font-size == 16 {
    html {
      @media (max-width: $screen-xs-max)                                  { font-size: 75% } // 12px
      // @media (max-width: $screen-xs-max)                                  { font-size: 100% } // 16px
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  { font-size: 87.5% } // 14px
      @media (min-width: $screen-md-min)                                  { font-size: 100% } // 16px
    }
    body {
      // line-height: 1.625;
      line-height: 1.625;
    }
  } @else if $app2-base-font-size == 18{
    html {
      @media (max-width: $screen-xs-max)                                  { font-size: 87.5% } // 14px
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  { font-size: 100% } // 16px
      @media (min-width: $screen-md-min)                                  { font-size: 112.5% } // 18px
    }
    body {
      // line-height: 1.828;
      line-height: 1.7;
    }
  } @else if $app2-base-font-size == 19 {
    html {
      @media (max-width: $screen-xs-max)                                  { font-size: 100% } // 16px
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  { font-size: 112.5% } // 18px
      @media (min-width: $screen-md-min)                                  { font-size: 118.8% } // 19px
    }
    body {
      // line-height: 1.828;
      line-height: 1.7;
    }
  } @else  {
    html {
      @media (max-width: $screen-xs-max)                                  { font-size: 87.5% } // 14px
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)  { font-size: 100% } // 16px
      @media (min-width: $screen-md-min)                                  { font-size: 112.5% } // 18px
    }
    body {
      // line-height: 1.828;
      line-height: 1.7;
    }
  }
// }
// @include html-font-size($app2-base-font-size);

body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: inherit;
}


h1, h2, h3, h4, h5, h6 {
  // font-weight: 600;
  // line-height: 1.25;
  font-family: $headings-font-family;
  text-transform: uppercase;

  // _::-webkit-:not(:root:root), & {
  //   letter-spacing: -.05rem;
  // }
}


// b, strong { font-weight: 500 }

// h1,h2,h3,h4,h5,h6 {
// b, strong { font-weight: 700 }}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }


label {
  font-weight: 600;
  font-family: $btn-font-family;
  text-transform: uppercase;

  // _::-webkit-:not(:root:root), & {
  //   letter-spacing: -.05rem;
  // }
}


a:focus,
a:hover {
  text-decoration: none
}

.theme-main {
  @extend %type-reset;
  font-weight: 300;
}



.theme-main__section {
  &__header__title {
    .fa {
      font-size: 1.575rem;
      vertical-align: 0.15rem;
    }
  }

  &__header__subtitle {
    font-size: .9rem
  }

  &__c1 {
   h1 {
      font-size: 2rem;
    }
  }
}



.theme-footer {
  font-size: .75rem;
}