@mixin c-modal-1 {
  .modal-backdrop {
    @include themify() {
      background-color: $fg2-color;
    }
    position: fixed;
    bottom: 0;

    &.in {
      opacity: .95
    }
  }

  .modal-dialog {
    @media (max-width: $screen-xs-max) {
      margin: 0;
    }

    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      margin-bottom: 0;
    }

    .modal.fade & {
      @include transition(transform $default-transition-duration1 $default-transition-function1);
    }

  }

  .modal-content {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  //



    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .modal-dialog-upload--sm {
        width: 394px;
      }
      .modal-dialog-upload--lg {
        width: 768px;
      }
    }

    @media (min-width: $screen-md-min) {
      .modal-dialog-upload--sm {
        width: 457px;
      }
      .modal-dialog-upload--lg {
        width: 900px;
      }
    }

    .modal-dialog-upload--sm,
    .modal-dialog-upload--lg {
      .c-modal-1__content {
        padding-bottom: .75rem;
      }
    }



//





  .c-modal-1 {
    @extend %type-reset;
    @include themify() {
      background-color: $bg-color;
      color: $fg2-color;
    }
  }

  .c-modal-1__header {
    padding: .75rem 1.5rem;
  }
  .c-modal-1__header__title {
    margin-top: 0;
    margin-bottom: 0;
  }



  .c-modal-1__content {
    padding:  .75rem 1.7rem .75rem;


    @media (max-width: $screen-xs-max) {
      .modal-wwwwww &,
      .modal-www & {
        padding: 7px;
      }
    }

    @media (min-width: $screen-sm-min) {
      .modal-wwwwww &,
      .modal-www & {
        padding: .75rem 1.5rem;
      }
    }
  }

  .c-modal-1__footer {
    @include themify() {
      border-top-color: $bg1-color;
    }

    padding: .75rem 1.5rem;

    border-top-width: 1px;
    border-top-style: solid;

    text-align: right;
  }

}