<div class="container" style="margin-top: 10rem">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 style="margin-bottom: 3rem; text-align: center">Admin</h2>

      <form method="post" ng-submit="login()" name="loginForm">
        <div style="margin-bottom: 2rem">
          <input class="form-control input-lg" type="email" name="email" ng-model="email" placeholder="Email" required autofocus>
        </div>

        <div style="margin-bottom: 2rem">
          <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
        </div>

        <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>
      </form>
    </div>
  </div>
</div>