<div class="www clearfix">
  <div ng-if="!isAuthenticated()">
    <aside class="theme-main__aside col-md-3">
      <h4 style="margin-bottom: 0">Lorem Ipsum</h4>
    </aside>

    <section class="theme-main__section col-md-9">
      <header class="theme-main__section__header">
        <h1 ng-bind-html="headerTitle" class="theme-main__section__header__title"></h1>

        <p ng-if="headerSubtitle" class="theme-main__section__header__subtitle">
          <em ng-bind-html="headerSubtitle"></em>
        </p>
      </header>

      <br>
      <div ng-include src="'include/login.continue.tpl.html'"></div>
    </section>
  </div>

  <div ng-if="isAuthenticated()">
    <div class="fadeY" ui-view></div>
  </div>
</div>