<aside class="theme-main__aside col-md-3">
  <h3 style="margin-bottom: 0">Lorem Ipsum</h3>
</aside>

<section class="theme-main__section col-md-9">
  <header class="theme-main__section__header">
    <h1 ng-bind-html="headerTitle" class="theme-main__section__header__title"></h1>

    <p ng-if="headerSubtitle" class="theme-main__section__header__subtitle">
      <em ng-bind-html="headerSubtitle"></em>
    </p>
  </header>

  <accordion>
    <accordion-group heading="{{type.name}}" ng-repeat="type in types" is-disabled="!type.events.length">
      <ul ng-show="type.events.length" class="m-list--2" style="margin-bottom: .5rem">
        <li ng-repeat="event in type.events">
          <a class="effect" ui-sref="events.detail({eventID:event._id})">{{ event.title}} <small><em>by {{ event.author }}</em></small></a>
        </li>
      </ul>
    </accordion-group>
  </accordion>
</section>

