<div class="c-modal">
  <header class="c-modal__header">
    <h3 class="c-modal__header__title">Remove cover</h3>
  </header>

  <div class="c-modal__content">
    <p>Your cover image helps people identify you.<br>
    Do you want to remove it?</p>
  </div>

  <form class="c-modal__footer">
    <button id="removePictureSubmit" type="button" class="btn btn-default--progress js-btn-focus"
      progress-button="remove()" pb-style="top-line" ng-disabled="btnDisabled">Remove cover</button>

    <button class="btn btn-default js-btn-unfocus" type="button" ng-click="cancel()" ng-disabled="btnDisabled">Cancel</button>
  </form>
</div>