$fade-transition-duration:  .15s;

.fadeZ {
  @media (min-width: $screen-sm-min) {
    position: absolute;
    width: 100%;
    // min-height: 100%;
    height: 100%
  }

  &.ng-enter {
    @include animation-duration($fade-transition-duration);
    @include animation-name(fadeIn);
    @include animation-timing-function(ease-in);
    @include animation-fill-mode(both);
  }
}


//

.fadeY.ng-enter {
  @include animation-duration($fade-transition-duration);
  @include animation-name(fadeIn);
  @include animation-timing-function(ease-in);
  @include animation-fill-mode(both);
}



////////////////////////////////////////////////////////////////



@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}




@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}



////////////////////////////////////////////////////////////////


@-webkit-keyframes slideInDownToBottom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    // visibility: visible;
    opacity: 1
  }

  to {
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
    opacity: 0
  }
}

@keyframes slideInDownToBottom {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    // visibility: visible;
    opacity: 1
  }

  to {
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
    opacity: 0
  }
}

//////////////////////


@-webkit-keyframes slideInUpFromBottom {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    // visibility: visible;
    opacity: 0
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes slideInUpFromBottom {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    // visibility: visible;
    opacity: 0
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}


////////////////////////////////////////////////////////////////


@-webkit-keyframes slideInDownFromTop {
 from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    // visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    opacity: 1
  }
}

@keyframes slideInDownFromTop {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0;
    // visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    opacity: 1
  }
}

//////////////////////

@-webkit-keyframes slideInUpToTop {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
  }

  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    // visibility: visible;
    opacity: 0
  }
}

@keyframes slideInUpToTop {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1

  }

  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    // visibility: visible;
    opacity: 0
  }
}






















////////////////////////////////////////////////////////////////


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}






////////////////////////////////////////////////////////////////

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}







