<ul class="m-list m-list--connect" style="margin-bottom: .5rem">
  <li class="col-xs-4">
    <button class="btn btn-block btn-default" ng-click="authenticate('facebook')">
      <i class="fa fa-facebook"></i> <span>Facebook</span>
    </button>
  </li>

  <li class="col-xs-4">
    <button class="btn btn-block btn-default" ng-click="authenticate('google')">
      <i class="fa fa-google"></i> <span>Google</span>
    </button>
  </li>

  <li class="col-xs-4">
    <button class="btn btn-block btn-default" ng-click="authenticate('twitter')">
      <i class="fa fa-twitter"></i> <span>Twitter</span>
    </button>
  </li>
</ul>

<ul class="m-list m-list--connect">
  <li class="col-xs-4">
    <button class="btn btn-block btn-default" ng-click="authenticate('github')">
      <i class="fa fa-github"></i> <span>GitHub</span>
    </button>
  </li>

  <li class="col-xs-4">
    <button class="btn btn-block btn-default" ng-click="authenticate('yahoo')">
      <i class="fa fa-yahoo"></i> <span>Yahoo</span>
    </button>
  </li>

  <li class="col-xs-4">
    <button class="btn btn-block btn-default">
      <i class="fa fa-"></i> <span></span>
    </button>
  </li>
</ul>