<aside class="theme-main__aside col-md-3">
  <h3 ng-bind-html="headerTitle" class="hidden-xs hidden-sm"></h3>
  <h3 ng-bind-html="headerTitle" class="visible-xs visible-sm" style="margin: 0"></h3>

  <p class="text-uppercase visible-md visible-lg" style="line-height: 1.4">Have an account ?</p>

  <ul class="m-list--2 visible-md visible-lg">
    <li><a href ui-sref="user.login">Log in</a></li>
  </ul>
</aside>

<section class="theme-main__section col-md-9">
  <h3 class="theme-main__section__title fix-line-height">Connect your social network</h3>

  <div ui-view="connect"></div>
  <br class="visible-md visible-lg">

  <h3 class="theme-main__section__title">Or sign up</h3>
  <!--   <form method="post" ng-submit="signup()" name="signupForm"> -->
  <form method="post" name="signupForm" form-usable>
    <div class="form-group" ng-class="{ 'has-error' : signupForm.name.$invalid && signupForm.name.$dirty }">
      <input class="form-control js-form-blur" type="text" name="name" ng-model="name" placeholder="Full name …" ng-minlength="5" required>
      <div class="help-block text-danger" ng-if="signupForm.name.$dirty" ng-messages="signupForm.name.$error">
        <div ng-message="required">You must enter your full name.</div>
        <div ng-message="minlength">Your full name is too short.</div>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
      <input class="form-control js-form-blur" type="email" name="email" ng-model="email"
      placeholder="Email …" required ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" email-available>
      <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
        <div ng-message="pattern">Your email address is invalid.</div>
        <div ng-message="required">Your email address is required.</div>
        <div ng-message="emailAvailable">This email address is already taken.</div>
        <!-- <div ng-show="signupForm.email.$error.checkingEmail">Checking &hellip;</div> -->
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : signupForm.userName.$invalid && signupForm.userName.$dirty }">
      <input class="form-control js-form-blur" type="text" name="userName" ng-model="userName" placeholder="Username …" ng-minlength="5" ng-maxlength="32" username-available required ng-pattern="/^[a-zA-Z0-9]*$/">
      <div class="help-block text-danger" ng-if="signupForm.userName.$dirty" ng-messages="signupForm.userName.$error">
        <div ng-message="required">You must enter your username.</div>
        <div ng-message="minlength">Your username is too short.</div>
        <div ng-message="maxlength">Your username is too long.</div>
        <div ng-message="pattern">Your username must contain only alphanumeric characters.</div>
        <div ng-message="usernameAvailable">This username is already taken.</div>
      </div>
    </div>

    <!-- <div class="form-group" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }"> -->
    <div class="form-group" style="position: relative">
      <div class="input-group input-group--password-team">
        <input class="form-control js-form-blur" type="{{showPassword ? 'text' : 'password'}}" name="password" ng-model="password" placeholder="Password …"
          pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" required>
        <span class="input-group-addon">
          <switch ng-model="showPassword"></switch>
        </span>
      </div>

      <password-strength ng-model="password"></password-strength>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
      <input class="form-control js-form-blur" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm password …"
      password-match="password" required>

      <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
        <div ng-message="required">Confirm Password is required.</div>
        <div ng-message="passwordMatch">Must match the previous entry</div>
      </div>
    </div>

    <p class="text-center">
      <small>
        By clicking on Sign up, you agree to
        <a href="#"  style="text-decoration: underline">terms & conditions</a>
        and
        <a href="#"  style="text-decoration: underline">privacy policy</a>.
      </small>
    </p>

    <div class="form-group">
      <button type="button" class="btn btn-block btn-default--progress-2 js-form-submit"
      ng-disabled="signupForm.$invalid || btnDisabled"
      progress-button="signup()">{{singupBtnText}}</button>
    </div>

    <p class="text-center">
      <small>
        Already have an account?
        <a href ui-sref="user.login" style="text-decoration: underline">Log in now</a>.
      </small>
    </p>
  </form>
</section>