<aside class="theme-main__aside col-md-3">
  <h3 ng-bind-html="headerTitle" class="hidden-xs hidden-sm"></h3>
  <h3 ng-bind-html="headerTitle" class="visible-xs visible-sm" style="margin: 0"></h3>

  <p class="hidden-xs hidden-sm" ng-if="headerSubtitle" ng-bind-html="headerSubtitle" style="margin-bottom: 0"></p>
</aside>

<section class="theme-main__section col-md-9">
  <h4 class="theme-main__section__title fix-line-height">Enter your email and we'll send you a link to reset it</h4>

  <!-- <form method="post" ng-submit="passwordResetSend(); resetpasswordResetSendForm()" name="passwordResetSendForm"> -->
  <form method="post" name="passwordResetSendForm" ng-enter="passwordResetSendEnter()">
    <div class="form-group" ng-class="{ 'has-error' : passwordResetSendForm.email.$invalid && passwordResetSendForm.email.$dirty }">
      <label class="control-label" for="email">Email:</label>
      <input class="form-control" type="email" id="email" name="email" ng-model="$parent.email" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" email-check required>

      <div class="help-block text-danger" ng-if="passwordResetSendForm.email.$dirty" ng-messages="passwordResetSendForm.email.$error">
        <div ng-message="pattern">Your email address is invalid.</div>
        <div ng-message="required">Your email address is required.</div>
        <div ng-message="emailCheck">There is no user associated with this email address.</div>
      </div>
    </div>

    <div class="c-form__action--update">
      <!-- <button type="submit" ng-disabled="passwordResetSendForm.$invalid" class="btn btn-default">Send</button> -->
      <button id="passwordResetSendSubmit" type="button" class="btn btn-default--progress  js-btn-unfocus"
      ng-disabled="passwordResetSendForm.$invalid"
      progress-button="passwordResetSend()" pb-style="top-line">Send</button>
    </div>
  </form>
</section>