<aside class="theme-main__aside col-md-3">
  <h3  class="theme-main__aside__title" ng-bind-html="headerTitle"></h3>

  <p class="hidden-xs hidden-sm" ng-if="headerSubtitle" ng-bind-html="headerSubtitle" style="margin-bottom: 0"></p>
</aside>

<section class="theme-main__section col-md-9">
  <h3 class="theme-main__section__title">Choose your new password</h3>

  <form method="post" name="passwordResetChooseForm" form-usable>
    <div class="form-group" ng-class="{ 'has-error' : passwordResetChooseForm.newPassword.$invalid && passwordResetChooseForm.newPassword.$dirty }">
      <label class="control-label" for="newPassword">New password:</label>

      <div  style="position: relative">
        <div class="input-group input-group--password-team">
        <input class="form-control js-form-blur" type="{{showPassword ? 'text' : 'password'}}" id="newPassword" name="newPassword" ng-model="newPassword" pattern-validator="((?=.*\d)(?=.*[A-Z])(?=.*\W).{8,8})" required ng-disabled="inputDisabled">
          <span class="input-group-addon">
            <switch ng-model="showPassword"></switch>
          </span>
        </div>
        <password-strength ng-model="newPassword"></password-strength>
      </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : passwordResetChooseForm.confirmPassword.$invalid && passwordResetChooseForm.confirmPassword.$dirty }">
      <label class="control-label" for="confirmPassword">Confirm new password:</label>
      <input class="form-control js-form-blur" type="password" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword"
      password-match="newPassword" required ng-disabled="inputDisabled">

      <div class="help-block text-danger" ng-if="passwordResetChooseForm.confirmPassword.$dirty" ng-messages="passwordResetChooseForm.confirmPassword.$error">
        <div ng-message="required">Confirm Password is required.</div>
        <div ng-message="passwordMatch">Must match the previous entry</div>
      </div>
    </div>

    <div class="c-form__action--update">
      <!-- <button type="submit" ng-disabled="passwordResetChooseForm.$invalid" class="btn btn-default">Send</button> -->

      <button  type="button" class="btn btn-default--progress-2 js-form-submit"
      progress-button="passwordResetChoose()" ng-disabled="passwordResetChooseForm.$invalid || passwordResetChooseForm.$pristine">Send</button>
    </div>
  </form>
</section>