<aside class="theme-main__aside col-md-3">
  <h3  class="theme-main__aside__title" ng-bind-html="headerTitle"></h3>

  <p class="hidden-xs hidden-sm" ng-bind-html="headerSubtitle" style="font-size: .9rem"></p>
</aside>

<section class="theme-main__section col-md-9">
  <h3 class="theme-main__section__title">Enter your email and we'll send you a link to reset it</h3>

  <form method="post" name="passwordResetSendForm" form-usable>
    <div class="form-group" ng-class="{ 'has-error' : passwordResetSendForm.email.$invalid && passwordResetSendForm.email.$dirty }">
      <label class="control-label" for="email">Email:</label>
      <input class="form-control js-form-blur" type="email" name="email" ng-model="$parent.email" ng-pattern="/^[A-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" email-check required ng-disabled="inputDisabled">

      <div class="help-block text-danger" ng-if="passwordResetSendForm.email.$dirty" ng-messages="passwordResetSendForm.email.$error">
        <div ng-message="pattern">Your email address is invalid.</div>
        <div ng-message="required">Your email address is required.</div>
        <div ng-message="emailCheck">There is no user associated with this email address.</div>
      </div>
    </div>

    <div class="c-form__action--update">
      <button type="button" class="btn btn-default--progress-2 js-form-submit" ng-disabled="passwordResetSendForm.$invalid || passwordResetSendForm.$pristine"
      progress-button="passwordResetSend()">Send</button>
    </div>
  </form>
</section>